@font-face {
    font-family: "Chalkduster";
    src: url('assets/Chalkduster.ttf');
}
html {
    background: url('assets/blackboard.png') black;
    font-family: 'Chalkduster', sans-serif;
    color: rgba(255, 255, 255, 0.5);
}

body {
    height: 100vh;
    margin: 0;
}

#main {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

#start {
    font-size: 5em;
    margin: auto;
}

#scroll {
    font-size: 5em;
    position: absolute;
    top: -85px;
}

#bottom {
    font-size: 3em;
    height: 1.5em;
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    width: 80%;
}
